body {
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Proza Libre', sans-serif; }

main, footer {
  background-color: dodgerblue; }

p {
  font-family: 'Open Sans', sans-serif; }

header {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "menu . logo . cart" "search search search search search";
  justify-content: center;
  align-items: center;
  background-color: #3c3c3b;
  padding: 1rem; }
  header button {
    grid-area: menu;
    margin: 0 auto 0 0; }
  header img {
    width: 4rem;
    margin: 0 auto;
    grid-area: logo; }
  header ul {
    grid-area: cart;
    margin: 0 0 0 auto;
    padding: 0; }
    header ul li {
      display: inline; }
      header ul li a {
        text-decoration: none;
        display: none; }
      header ul li a:visited {
        color: white;
        text-decoration: none; }
      header ul li a:hover {
        text-decoration: underline; }
  header form {
    grid-area: search;
    background-color: white;
    border-radius: 0.4rem;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    padding: 0.8rem;
    border: 2px white solid; }
    header form input {
      flex-grow: 1;
      border: none; }
    header form button {
      border: none;
      background-color: white;
      color: black; }
  header form:hover {
    border: 2px #ff703c solid; }
  header button {
    background-color: #3c3c3b;
    color: white;
    border-style: solid;
    border-radius: 10%;
    height: 2rem;
    padding: 0 1rem; }

nav {
  display: none;
  background-color: #e7e7e7; }
  nav ul li {
    display: inline; }
