body, h1 {
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Proza Libre', sans-serif; }

main .deals article button {
  background: white;
  border: 1px black solid;
  padding: 1rem; }

footer section .customer-services ul, footer section .social-media ul {
  padding: 0; }
  footer section .customer-services ul li, footer section .social-media ul li {
    display: block; }
    footer section .customer-services ul li a, footer section .social-media ul li a {
      text-align: start;
      background-color: #3c3c3b;
      color: white; }

p {
  font-family: 'Open Sans', sans-serif; }

header {
  background-color: #3c3c3b; }
  header div {
    margin: 0 auto;
    max-width: 1024px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "menu logo cart" "search search search";
    align-items: center;
    padding: 1rem; }
    header div button {
      grid-area: menu;
      margin: 0 auto 0 0; }
    header div img {
      width: 4rem;
      margin: 0 auto;
      grid-area: logo; }
    header div ul {
      grid-area: cart;
      margin: 0 0 0 auto;
      padding: 0; }
      header div ul li {
        display: inline; }
        header div ul li a {
          text-decoration: none;
          display: none;
          color: white; }
        header div ul li a:visited {
          color: white;
          text-decoration: none; }
        header div ul li a:hover {
          text-decoration: underline; }
        header div ul li button {
          outline: none; }
    header div form {
      grid-area: search;
      background-color: white;
      border-radius: 0.4rem;
      margin-top: 1rem;
      display: flex;
      justify-content: space-between;
      padding: 0.5rem;
      border: 2px white solid; }
      header div form input {
        flex-grow: 1;
        border: none;
        outline: none; }
      header div form button {
        border: none;
        outline: none;
        background-color: white;
        color: black; }
    header div form:hover {
      border: 2px #ff703c solid; }
    header div button {
      background-color: #3c3c3b;
      color: white;
      border-style: solid;
      border-radius: 10%;
      height: 2rem;
      padding: 0 1rem; }

nav {
  display: none;
  background-color: #e7e7e7; }
  nav ul {
    margin: 0 auto;
    max-width: 1024px;
    padding: 0; }
    nav ul li {
      display: inline-block; }
      nav ul li a {
        text-decoration: none;
        color: black;
        padding: 1rem 1rem 0.8rem 1rem;
        display: block;
        border-bottom: 0.2rem #e7e7e7 solid; }
      nav ul li a:visited {
        color: black;
        text-decoration: none; }
      nav ul li a:hover {
        border-bottom: 0.2rem black solid; }
      nav ul li a.current {
        border-bottom: 0.2rem black solid; }

main {
  margin: 0 auto;
  max-width: 1024px;
  padding: 1rem 0; }
  main .deals {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem; }
    main .deals article {
      padding: 1rem; }
      main .deals article img {
        border-radius: 10px;
        width: 100%; }
  main .bikes {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem; }
    main .bikes article {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-bottom: 1px gray solid; }
      main .bikes article img {
        border-radius: 10px;
        width: 100%; }
  main .news {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem; }
    main .news article {
      padding: 1rem;
      margin-bottom: 5rem; }
      main .news article img {
        border-radius: 10px;
        width: 100%; }

footer {
  background-color: #3c3c3b;
  display: grid;
  grid-template-columns: repeat(1, 1fr); }
  footer a {
    background-color: #e7e7e7;
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 0.5rem; }
  footer section {
    color: white;
    max-width: 1024px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "news-letter" "customer-services" "social-media"; }
    footer section .news-letter {
      grid-area: news-letter;
      padding: 2rem;
      max-width: 512px;
      margin: 0 auto; }
      footer section .news-letter div {
        display: flex;
        width: 100%; }
        footer section .news-letter div input {
          flex-grow: 1;
          padding: 0.5rem;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
          border-style: none;
          border-right: 1px black solid;
          outline: none; }
        footer section .news-letter div button {
          background-color: white;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          border-style: none; }
    footer section .customer-services {
      grid-area: customer-services;
      padding: 2rem; }
    footer section .social-media {
      grid-area: social-media;
      display: flex;
      flex-direction: column;
      align-items: center; }
      footer section .social-media ul li {
        display: inline-block;
        margin: 0 auto; }
        footer section .social-media ul li a ion-icon {
          font-size: 24px; }
      footer section .social-media .policies {
        font-size: 0.7rem; }

@media screen and (min-width: 741px) {
  header div {
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "logo search search cart cart cart"; }
    header div img {
      margin: 0; }
    header div form {
      margin: 0; }
    header div > button {
      display: none; }
    header div ul li a {
      display: inline;
      margin-right: 1rem; }
  nav {
    display: block; }
  main .deals {
    grid-template-columns: repeat(2, 1fr); }
    main .deals article {
      padding: 0; }
  main .bikes {
    grid-template-columns: repeat(3, 1fr); }
  main .news article {
    padding: 0; }
  footer section {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "news-letter customer-services" "social-media social-media"; }
    footer section .social-media ul li a ion-icon {
      font-size: 32px; }
    footer section .social-media .policies {
      font-size: 1rem; } }
