@import 'reset';

%headings {
    font-family: 'Proza Libre', sans-serif;
}

%grid-item {
    background-color: dodgerblue;
}

%shop-now {
    background: white;
    border: 1px black solid;
    padding: 1rem;
}

%footer-list {
    ul {
        padding: 0;
        li {
            display: block;
            a {
                text-align: start;
                background-color: #3c3c3b;
                color: white;
            }
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    @extend %headings;
}

p {
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: #3c3c3b;

    div {
        margin: 0 auto;
        max-width: 1024px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-template-areas: 
        "menu logo cart"
        "search search search";
        align-items: center;
        
        padding: 1rem;

        button {
            grid-area: menu;
            margin: 0 auto 0 0;
        }
        
        img {
            width: 4rem;
            margin: 0 auto;
            grid-area: logo;
        }

        ul {
            grid-area: cart;
            margin: 0 0 0 auto;
            padding: 0;

            li {
                display: inline;
                a {
                    text-decoration: none;
                    display: none;
                    color: white
                }
                a:visited {
                    color: white;
                    text-decoration: none;
                }
                a:hover {
                    text-decoration: underline;
                }
                button {
                    outline: none;
                }
            }
        }

        form {
            grid-area: search;
            background-color: white;
            border-radius: 0.4rem;
            margin-top: 1rem;
            display: flex;
            justify-content: space-between;
            padding: 0.5rem;
            border: 2px white solid;

            input {
                flex-grow: 1;
                border: none;
                outline: none;
            }

            button {
                border: none;
                outline: none;
                background-color: white;
                color: black;
            }
        }

        form:hover {
            border: 2px rgb(255, 112, 60) solid;
        }

        button {
            background-color: #3c3c3b;
            color: white;
            border-style: solid;
            border-radius: 10%;
            height: 2rem;
            padding: 0 1rem;
        }
    }
}

nav {
    display: none;
    background-color: #e7e7e7;

    ul {
        margin: 0 auto;
        max-width: 1024px;
        padding: 0;

        li {
            display: inline-block;

            a {
                text-decoration: none;
                color: black;
                padding: 1rem 1rem 0.8rem 1rem;
                display: block;
                border-bottom: 0.2rem #e7e7e7 solid;
            }
            a:visited {
                color: black;
                text-decoration: none;
            }
            a:hover {
                border-bottom: 0.2rem black solid;
            }
        }
    }
}

main {
    margin: 0 auto;
    max-width: 1024px;
    padding: 1rem;

    .deals {
        margin: 1rem 0;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;

        article {
            // background-color: rgb(226, 226, 226);
            padding: 1rem;
            
            img {
                border-radius: 10px;
                width: 100%;
            }

            button {
                @extend %shop-now;
            }
        }
    }
}

footer {
    background-color: #3c3c3b;
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    a {
        background-color: #e7e7e7;
        display: block;
        text-align: center;
        text-decoration: none;
        color: black;
        padding: 0.5rem;

        ion-icon {
            margin-right: 1rem;
        }
    }

    section {
        color: white;
        margin: 0 0.2rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 
        "news-letter"
        "customer-services"
        "social-media";

        .news-letter {
            grid-area: news-letter;
            padding: 2rem;
            max-width: 512px;
            margin: 0 auto;
            div {
                display: flex;
                width: 100%;

                input {
                    flex-grow: 1;
                    padding: 0.5rem;
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                    border-style: none;
                    border-right: 1px black solid;
                    outline: none;
                }
                
                button {
                    background-color: white;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                    border-style: none;
                }
            }
        }

        .customer-services {
            grid-area: customer-services;
            padding: 2rem;
            @extend %footer-list;
        }
        
        .social-media {
            grid-area: social-media;
            // padding: 2rem;
            @extend %footer-list;
            display: flex;
            flex-direction: column;
            align-items: center;

            ul {
                li {
                    display: inline-block;

                    a {
                        ion-icon {
                            font-size: 24px;
                        }
                    }
                }
            }

            .policies {
                border: 2px pink solid;
                font-size: 0.9rem;
            }
        }
    }
}

@media screen and (min-width: 741px) {
    header {

        div {
            grid-template-columns: repeat(6, 1fr);
            grid-template-areas: 
            "logo search search cart cart cart";

            form {
                margin: 0;
            }

            > button {
                display: none;
            }

            ul {
                li {
                    a {
                        display: inline;
                        margin-right: 1rem;
                    }
                }
            }
        }
    }

    nav {
        display: block;
    }

    main {
        .deals {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    footer {
        section {
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas: 
            "news-letter customer-services"
            "social-media social-media";

            .social-media {
                ul {
                    li {
                        a {
                            ion-icon {
                                font-size: 32px;
                            }
                        }
                    }
                }
            }
        }
    }
}