@import 'reset';

%headings {
    font-family: 'Proza Libre', sans-serif;
}

%grid-item {
    background-color: dodgerblue;
}

h1, h2, h3, h4, h5, h6 {
    @extend %headings;
}

p {
    font-family: 'Open Sans', sans-serif;
}

.welcome {
    display: flex;
}

header {
    background-color: #3c3c3b;
    padding: 1rem;
    
    img {
        width: 4rem;
    }

    div {
        display: flex;
        justify-content: space-between;

        ul {
            padding: 0;

            li {
                display: inline;
                a {
                    text-decoration: none;
                    display: none;
                }
                a:visited {
                    color: white;
                    text-decoration: none;
                }
                a:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    form {
        background-color: white;
        border-radius: 0.4rem;
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
        padding: 0.8rem;
        border: 2px white solid;

        input {
            flex-grow: 1;
            border: none;
        }

        button {
            border: none;
            background-color: white;
        }
    }

    form:hover {
        border: 2px rgb(255, 112, 60) solid;
    }

}

nav {
    display: none;
    background-color: #e7e7e7;

    ul {
        li {
            display: inline;
        }
    }
}

main {
    @extend %grid-item;
}

footer {
    @extend %grid-item;
}